
/* GLOBAL */
body, html {
    color:#CCC;
    background-color:black;
    font-family:monospace;
}

/* HOME PAGE */
#controller-div a, #sensor-div a {
    color:white;
}
#controller-div, #sensor-div {
    padding:50px;
    font-size:60px;
    border-radius:30px;
    margin-top:30px;
    color:#CCC;
}
#controller-div {
    background-color:#33A;
}
#sensor-div {
    background-color:#3A3;
}
#controller-div:hover, #sensor-div:hover {
    box-shadow:2px 2px 2px #CCC;
}
#controller-div:hover > a, #sensor-div:hover > a {
    color:white;
}

/* CONTROLLER */
#controller-wrap {
    height:100vh;
    width:100vw;
	border:1px solid red;
	position:absolute;
	top:50vh;
	left:50vw;
	transform:translateY(-50%) translateX(-50%);
	padding:15px;
}
#power-on-btn {
	height:20%;
	width:40%;
    font-size:3em;
	display:block;
	margin:auto;
	margin-top:100px;
}
.horizontal-icons-with-textlabel {
	margin-left: 30%;  /* to provide centering */
}
#connected {
	display:none;
}
#top-row {
	/*jwc O  height:75%; */
	height:50%;
}
#middle-row {
	/*jwc o  height:25%; */
	/* height:10%; */
	/* height:7.5%; */
	height:15%;
	/* padding-top:10px */
	padding-top:50px  /* Needed for Linux */
}
#bottom-row {
	/*jwc o  height:25%; */
	height:25%;
	padding-top:10px
}
#dcMotors_FwdOrRev_Power_FrontEnd_Id, 
#servo_Cam_02_Tilt_Degrees_FrontEnd_Id, 
#servo_Arm_03_Degrees_FrontEnd_Id {
	/*jwc o try to center\ margin-left:15px; */
	/* margin-left:97%; */
	/*jwc o  margin-left:75%; */
	margin-left:50%;
	/* height:100%; */
	height:80%;
	/* transform:scaleX(2); */
	transform:scaleX(5);
	/* jwc */
	/*jwc causes 'Action' column to be higher:  margin-top:10%; */

}
#dcMotors_Turn_Power_FrontEnd_Id {
	/* width:100%; */
	/* width:75%; */
	width:100%;
	transform:scaleY(5);
	margin-top:15px;
	/* margin-right:15px; */
	/* float:right; */
	float:none;
}
/* jwc Not seem to work.  Use 'class' version */
#heading-input-value {
	/* margin-top:0.5rem; */
	margin-top:3.5rem;
}
.heading-input-value {
	/* margin-top:0.5rem; */
	margin-top:3.5rem;
}
#cam-wrapper {
	background-color:#ffffff21;
    height:100%;
}
#rmtrim-val, #lmtrim-val {
	/* remove margin top & bottom to reduce row height to fit window */
	/* margin: 10px 0px 10px 0px; */ 
	margin: 0;
}
#power-off-btn {
	width:100%;
	/*jwc o  height:80%; */
	height:60%;
	position:relative;
	/* top:5px; */
}
#cam-text {
	position:relative;
	top:-13px;
	margin-left:20px;
	margin-right:20px;
}
#col-header-01 {
	text-align:center;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    /*jwc o\ width: 8px; */
    /*jwc n not help, same\ width: 32px; */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
#dcMotors_FwdOrRev_Power_FrontEnd_Id::-webkit-slider-runnable-track  {
	/* jwc o background-image: linear-gradient(red,yellow,green,yellow,red); */
	/* jwc o background-image: linear-gradient(green,yellow,red,yellow,green); */
	background-image: linear-gradient(rgb(0, 0, 32),rgb(127, 255, 127),rgb(0, 32, 0));
}
#servo_Cam_02_Tilt_Degrees_FrontEnd_Id::-webkit-slider-runnable-track  {
	/* jwc o background-image: linear-gradient(red,yellow,green,yellow,red); */
	/* jwc o background-image: linear-gradient(green,yellow,red,yellow,green); */
	background-image: linear-gradient(rgb(0, 0, 32),rgb(127, 255, 255),rgb(0, 0, 32));
}
#servo_Arm_03_Degrees_FrontEnd_Id::-webkit-slider-runnable-track  {
	/* jwc o background-image: linear-gradient(red,yellow,green,yellow,red); */
	/* jwc o background-image: linear-gradient(green,yellow,red,yellow,green); */
	background-image: linear-gradient(rgb(32, 32, 0),rgb(255, 225, 127),rgb(32, 32, 0));
}
#dcMotors_Turn_Power_FrontEnd_Id::-webkit-slider-runnable-track  {
	/* jwc o background-image: linear-gradient(red,yellow,green,yellow,red); */
	/* jwc o background-image: linear-gradient(to right,green,yellow,red,yellow,green); */
	background-image: linear-gradient(to right,rgb(0, 0, 32),rgb(127, 255, 127),rgb(0, 32, 0));
}