<!DOCTYPE html>
<html>
  <head>
    <title>RoboQuest V-Lab Web-Portal: RQ-CX-G DSOT-System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel='stylesheet' href='static/css/style_From_RpiRover1_DayDevelops.css'>


    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />  
  </head>
  <body>
    <!-- jwc o  <h1>Video Streaming Demonstration</h1> -->
    <h1>RoboQuest V-Lab Web-Portal: RQ-CX-G DSOT-System</h1>
    <!-- <h1>(Click Anywhere on HUD-Section for Quick-Stop.  Double-click for Dual-Motor Control.)</h1> -->
    <!-- jwc y  <img src="{{ url_for('video_feed') }}"> -->

    <!-- jwc y <div id="hud" class="touchpad" onclick="toggle_hud()"><div class="label">HUD</div></div> -->
    
    <!-- jwc y <div id="l100" class="controlpad speed_100" onclick="motor_l(100)">&nbsp;</div> -->

    <div id="mainscreen">

      <div class='row' id='top-row'>
        <!-- col-4: max-width: 33.33% > -->
        <div class='col-4' >
            <!-- cam -->
            <div id='cam-wrapper'>

                <!--AAA TYJ this works :)+-->
                <!--jwc o <img style="transform:rotate(180deg); height:100%; width:100%;" src="{{ url_for('video_feed') }}"> -->
                <!--jwc y  <img style="transform:rotate(0deg); height:100%; width:100%;" src="{{ url_for('video_feed') }}"> -->
                <img style="transform:rotate(180deg); height:100%; width:100%;" src="{{ url_for('video_feed') }}">

                <!--jwc <canvas' seems to corrupt 'img' <canvas>
                  <img style="transform:rotate(180deg); height:100%; width:100%;" src="{{ url_for('video_feed') }}">
                </canvas> -->

            </div>
        </div>

        <!-- col-3: max-width: 25.00% > -->
        <div class='col-3' id='speed-col'>
          <h2 id='col-header-01' class='sliderTapForIpadFix_Not_CssCl visible_CssCl'>Driver-XY(Wheel-Motors)</h2>
          <h2 id='col-header-01' class='sliderTapForIpadFix_CssCl visible_Not_CssCl'>Driver-XY(Wheel-Motors)[iPad]</h2>

          <!-- dcMotors_FwdOrRev_Power_FrontEnd_Id slider -->
          <!--jwc yo  <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_Fn()' onchange='this.value=0; updateMotorSpeeds_Fn();'> -->
          <!--jwc y TYJ allows ipad to touch once for pulse, may use button instead. <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_Fn()';'> -->
          <!--jwc m TYJ <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_Fn()'> -->
          <!--jwc not wokr on ipad <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_Fn()'; sleep(3000); onchange='this.value=0; updateMotorSpeeds_Fn();'> -->
          <!--jwc y works on ipad on safari TYJ  <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_Fn()'; onchange='this.value=0;'> -->
          <!-- <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_Fn()' onchange='sleep(100); this.value=0; updateMotorSpeeds_Fn();'> -->
          <!-- m <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' onselect='updateMotorSpeeds_Fn()'> -->
          <!-- <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' ondragenter='updateMotorSpeeds_Fn()'> -->
          <!-- m <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' onmousedown='updateMotorSpeeds_Fn()'> -->
          <!-- y <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_Fn()'> -->
          <input id='dcMotors_FwdOrRev_Power_FrontEnd_Id' class='dcMotors_FwdOrRev_Power_FrontEnd_CssCl sliderTapForIpadFix_Not_CssCl visible_CssCl' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_Fn()' onchange='this.value=0; updateMotorSpeeds_Fn();'>

          <!-- <jwc y test: input id='servo_Arm_03_Degrees_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_ForBurst_Fn()'> -->
          <input id='dcMotors_FwdOrRev_Power_FrontEnd_SliderTapForIpadFix_Id' class='dcMotors_FwdOrRev_Power_FrontEnd_SliderTapForIpadFix_CssCl sliderTapForIpadFix_CssCl visible_Not_CssCl' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_ForBurst_Fn()'>

          <p id='speed-input-val' class='text-center'>0</p>


        </div>

        <!-- col-3: max-width: 25.00% > -->
        <div class='col-3' id='turn-col'>
          <h2 id='col-header-01'>Scanner-XY(Cam-Servos)</h2>
          
          <!-- servo_Cam_02_Tilt_Degrees_FrontEnd_Id slider -->
          <input id='servo_Cam_02_Tilt_Degrees_FrontEnd_Id' type='range' orient='vertical' min='0' max='180' value='90' step='1' oninput='servo_Cam_02_Tilt_Degrees_FrontEnd_Fn()'>
          <p id='servo_Cam_02_Tilt_Degrees_FrontEnd_Response_Id' class='text-center'>0</p>

        </div>

        <!-- col-2: max-width: 16.67% > -->
        <div class='col-2' id='speed-col'>
          <h2 id='col-header-01'>Operator-Y(ActionArm-Servos)</h2>

          <!-- servo_Arm_03_Degrees_FrontEnd_Id slider -->
          <!-- <jwc y test: input id='servo_Arm_03_Degrees_FrontEnd_Id' type='range' orient='vertical' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_ForBurst_Fn()'> -->
          <input id='servo_Arm_03_Degrees_FrontEnd_Id' type='range' orient='vertical' min='0' max='180' value='90' step='1' oninput='servo_Arm_03_Degrees_FrontEnd_Fn()'>
          <p id='servo_Arm_03_Degrees_FrontEnd_Response_Id' class='text-center'>0</p>

        </div>
      </div>
      
      <div class='row' id='middle-row'>
        <!-- col-4: max-width: 33.33% > -->
        <div class='col-4 text-center' >
          <!-- jwc will not fit for iPad: <h3 id='col-header-01'>AI/AR Video Analyzer (AAVA) System</h3> -->
          <button class='btn btn-danger' id='timer_Mission_Refresh_Id' onclick='timer_Mission_Refresh_Fn()'>Mission Refresh</button>
          <span id='col-header-01'>AI/AR Scan Analyzer (AASA) System</span>
        </div>
        <!-- col-3: max-width: 25.00% > -->
        <div class='col-3' id='speed-col'>

          <!-- dcMotors_Turn_Power_FrontEnd_Id slider -->
          <!--jwc yo <input id='dcMotors_Turn_Power_FrontEnd_Id' type='range' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_ForTurn_Fn()' onchange='this.value=0; updateMotorSpeeds_ForTurn_Fn();'> -->
          <input id='dcMotors_Turn_Power_FrontEnd_Id' class='dcMotors_Turn_Power_FrontEnd_CssCl sliderTapForIpadFix_Not_CssCl visible_CssCl' type='range' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_ForTurn_Fn()' onchange='this.value=0; updateMotorSpeeds_ForTurn_Fn();'>
          
          <input id='dcMotors_Turn_Power_FrontEnd_SliderTapForIpadFix_Id' class='dcMotors_Turn_Power_FrontEnd_SliderTapForIpadFix_CssCl sliderTapForIpadFix_CssCl visible_Not_CssCl' type='range' min='-100' max='100' value='0' step='1' oninput='updateMotorSpeeds_ForTurn_ForBurst_Fn()'>
          
          <p id='heading-input-val' class='text-center heading-input-value'>0</p>

        </div>
        <!-- col-3: max-width: 25.00% > -->
        <div class='col-3' id='turn-col'>

          <!-- servo_Cam_01_Pan_Degrees_FrontEnd_Id slider -->
          <input id='servo_Cam_01_Pan_Degrees_FrontEnd_Id' type='range' min='0' max='180' value='90' step='1' oninput='servo_Cam_01_Pan_Degrees_FrontEnd_Fn()'>
          <p id='servo_Cam_01_Pan_Degrees_FrontEnd_Response_Id' class='text-center heading-input-value'>0</p>
        </div>
        <!-- col-2: max-width: 16.67% > -->
        <!--jwc 'p-0' not seem needed  <div class='col-2 p-0'> -->
        <div class='col-2'>
          <!--jwc o <button class='btn btn-lg btn-danger' id='power-off-btn' onclick='updateMotorSpeeds_ForHalt_Fn()'>HALT ALL</button> -->
          <!-- jwc y <button class='btn btn-lg btn-danger' id='activate_Ipad_Tap_Id' onclick='activate_Ipad_Tap_Fn()'>Slider-Tap for iPad</button> -->
          <button class='btn btn-danger' id='activate_Ipad_Tap_Id' onclick='activate_Ipad_Tap_Fn()'>iPad Driver-Tap</button>
        </div>
      </div>

      <div class='row' id='middle-row-02'>
        <!-- col-3: max-width: 25.00% > -->
        <!-- <div class='col-4'> -->
          <!-- <button class='btn btn-danger' id='trigger_Client_01_Id' onclick='trigger_Client_01_Fn()'>Trigger-01</button> -->
        <!-- </div> -->
        <!-- col-3: max-width: 25.00% > -->
        <!-- <div class='col-4'> -->
          <!-- <button class='btn btn-danger' id='trigger_Client_02_Id' onclick='trigger_Client_02_Fn()'>Trigger-02</button> -->
        <!-- </div> -->
        <!-- col-3: max-width: 25.00% > -->
        <!-- <div class='col-4'>
          <button class='btn btn-danger' id='trigger_Client_03_Id' onclick='trigger_Client_03_Fn()'>Trigger-03</button>
        </div> -->

        <!-- col-3: max-width: 25.00% > -->
        <div class='col-4'>
          <button class='button' id='trigger_Client_01_Id' onclick='trigger_Client_01_Fn()'>Trigger-01</button>
        </div>
        <!-- col-3: max-width: 25.00% > -->
        <div class='col-4'>
          <button class='button' id='trigger_Client_02_Id' onclick='trigger_Client_02_Fn()'>Trigger-02</button>
        </div>        
        <!-- col-3: max-width: 25.00% > -->
        <div class='col-4'>
          <button class='button' id='trigger_Client_03_Id' onclick='trigger_Client_03_Fn()'>Trigger-03</button>
        </div>
      </div>

      <div class='row' id='bottom-row'>
        <!-- col-4: max-width: 33.33% > -->
        <!-- <div class='col-4 text-center'> -->
        <div class='col-4'>
          <h2 id='col-header-01'>Network Status</h2>
          <div id="status"></div>
        </div>
        <!-- col-3: max-width: 25.00% > -->
        <div class='col-3' id='speed-col'>
          <h2 id='col-header-01'>Robotics Status</h2>
          <div id="sensors"></div>
        </div>
        <!-- col-3: max-width: 25.00% > -->
        <div class='col-3' id='speed-col'>
          <h2 id='col-header-01'>Mission Critical Data</h2>
          <div id="score"></div>          
        </div>
        <!-- col-2: max-width: 16.67% > -->
        <!-- <div class='col-2 p-0'> -->
        <div class='col-2'>          
          <h2 id='col-header-01'>DB Mod</h2>

          <!-- heartbeat_freq -->
          <h3 id='col-header-01'>Heartbeat-Freq</h2>
            <i id='heartbeat_Freq_Mod_Dec_Id' class='ted-inline fas fa-angle-left fa-3x horizontal-icons-with-textlabel' onclick="heartbeat_Freq_Mod_IncDec_Fn({'incdec':'-1'})"></i>
            <span id='heartbeat_Freq_Mod_Id'>-</span>
            <i id='heartbeat_Freq_Mod_Inc_Id' class='d-inline fas fa-angle-right fa-3x' onclick="heartbeat_Freq_Mod_IncDec_Fn({'incdec':'+1'})"></i>

            <!-- left motor trim -->
          <h3 id='col-header-01'>--</h3>
          <i id='lmtrim-up' class='text-center d-block fas fa-angle-up fa-3x' onclick="changeTrim({'L':1,'R':0})"></i>
          <p id='lmtrim-val' class='text-center'>0</p>
          <i id='lmtrim-down' class='text-center d-block fas fa-angle-down fa-3x' onclick="changeTrim({'L':-1,'R':0})"></i>

          <!-- right motor trim -->
          <h3 id='col-header-01'>--</h3>
          <i id='rmtrim-up' class='text-center d-block fas fa-angle-up fa-3x' onclick="changeTrim({'L':0,'R':1})"></i>
          <p id='rmtrim-val' class='text-center'>0</p>
          <i id='rmtrim-down' class='text-center d-block fas fa-angle-down fa-3x' onclick="changeTrim({'L':0,'R':-1})"></i>

          <!-- Reserved -->
          <!--jwc o  <h3 id='col-header-01'>Reserved</h2>
            <i id='cam-left' class='ted-inline fas fa-angle-left fa-3x horizontal-icons-with-textlabel' onclick="turnCam({'direction':'L'})"></i>
            <span id='cam-text'>-</span>
            <i id='cam-right' class='d-inline fas fa-angle-right fa-3x' onclick="turnCam({'direction':'R'})"></i>   -->
        </div>
      </div>

    </div>


    
      <!--jwc o <div id="leftbar"> -->
 
<!--  jwc o       
        <div id="l100" class="controlpad speed_100" onclick="motor_l(100)">&nbsp;</div>
        <div id="l60" class="controlpad speed_60" onclick="motor_l(60)">&nbsp;</div>
        <div id="l30" class="controlpad speed_30" onclick="motor_l(30)">&nbsp;</div>
        <div id="l0" class="controlpad speed_0" onclick="motor_l(0)">&nbsp;</div>
        <div id="l-30" class="controlpad speed_30" onclick="motor_l(-30)">&nbsp;</div>
        <div id="l-60" class="controlpad speed_60" onclick="motor_l(-60)">&nbsp;</div>
        <div id="l-100" class="controlpad speed_100" onclick="motor_l(-100)">&nbsp;</div>
 -->     
<!--         <div id="l100" class="controlpad speed_100" onclick="motor_l(100)"><div class="label">Motor-L: +100%</div></div>
        <div id="l60" class="controlpad speed_60" onclick="motor_l(67)"><div class="label">Motor-L: + 67%</div></div>
        <div id="l30" class="controlpad speed_30" onclick="motor_l(33)"><div class="label">Motor-L: + 33%</div></div>
        <div id="l0" class="controlpad speed_0" onclick="motor_l(0)"><div class="label">Motor-L:   0%</div></div>
        <div id="l-30" class="controlpad speed_30" onclick="motor_l(-33)"><div class="label">Motor-L: - 33%</div></div>
        <div id="l-60" class="controlpad speed_60" onclick="motor_l(-67)"><div class="label">Motor-L: - 67%</div></div>
        <div id="l-100" class="controlpad speed_100" onclick="motor_l(-100)"><div class="label">Motor-L: -100%</div></div>
 -->
      <!--id="leftbar" </div> -->
      <!-- <div id="stop" onclick="brake()"><div class="label">Stop!</div></div> -->


      <!-- <div id="middle"> -->
        <!-- jwc o <img src="{{ url_for('video_feed') }}"> -->
        <!-- jwc y <img style="transform:rotate(180deg);" src="{{ url_for('video_feed') }}"> -->
        <!-- <img src="{{ url_for('video_feed') }}"> -->
        <!-- jwc yy <img style="transform:rotate(180deg); height:100%; width:100%;" src="{{ url_for('video_feed') }}"> -->

        <!-- <div id="videowrapper" onclick="brake()">
          <div id="overlay">
            <div id="status"></div>
            <div id="sensors"></div>
          </div>
        </div> -->

      <!--id="middle" </div> -->


      <!-- <div id="middle"> -->
        <!-- jwc o <img src="{{ url_for('video_feed') }}"> -->
        <!-- jwc y <img style="transform:rotate(180deg);" src="{{ url_for('video_feed') }}"> -->
        <!-- <img src="{{ url_for('video_feed') }}"> -->
        <!-- jwc yy <img style="transform:rotate(180deg); height:100%; width:100%;" src="{{ url_for('video_feed') }}"> -->

        <!-- <div id="videowrapper" onclick="brake()"> -->
          <!-- jwc y <img src="{{ url_for('video_feed') }}"> -->
          <!-- jwc video stream -->
          <!-- jwc ?  Seems to cause wide gap, not reliable: <div id="video"> <img src="{{ url_for('video_feed') }}"> </div> -->
          
          <!-- <div id="overlay">
            <div id="status"></div>
            <div id="sensors"></div>
          </div> -->
        <!-- </div> -->
 
        <!-- <div id="buttonbar">	 -->
          <!-- jwc o <div id="blue" class="touchpad" onclick="touchpad(1)"><div class="label">1</div></div> -->
          <!-- <div id="blue" class="touchpad" onclick="touchpad(1)"><div class="label">Servo-01-Pan -</div></div> -->
          <!-- jwc o <div id="yellow" class="touchpad" onclick="touchpad(2)"><div class="label">2</div></div> -->
          <!-- <div id="yellow" class="touchpad" onclick="touchpad(2)"><div class="label">Servo-01-Pan +</div></div> -->
          <!-- jwc o <div id="red" class="touchpad" onclick="touchpad(3)"><div class="label">3</div></div> -->
          <!-- <div id="red" class="touchpad" onclick="touchpad(3)"><div class="label">Motors Online/Offline</div></div> -->
          <!-- jwc o <div id="green" class="touchpad" onclick="touchpad(4)"><div class="label">4</div></div> -->
          <!-- <div id="green" class="touchpad" onclick="touchpad(4)"><div class="label">Servo-02-Tilt -</div></div> -->
          <!-- jwc Add new Cell -->
          <!-- <div id="yellow" class="touchpad" onclick="touchpad(5)"><div class="label">Servo-02-Tilt +</div></div> -->
          <!-- <div id="hud" class="touchpad" onclick="toggle_hud()"><div class="label">HUD</div></div> -->
        <!-- </div>	 -->

      <!-- </div> -->
    
      <!-- <div id="rightbar"> -->
<!--    jwc o
        <div id="r100" class="controlpad speed_100" onclick="motor_r(100)">&nbsp;</div>
        <div id="r60" class="controlpad speed_60" onclick="motor_r(60)">&nbsp;</div>
        <div id="r30" class="controlpad speed_30" onclick="motor_r(30)">&nbsp;</div>
        <div id="r0" class="controlpad speed_0" onclick="motor_r(0)">&nbsp;</div>
        <div id="r-30" class="controlpad speed_30" onclick="motor_r(-30)">&nbsp;</div>
        <div id="r-60" class="controlpad speed_60" onclick="motor_r(-60)">&nbsp;</div>
        <div id="r-100" class="controlpad speed_100" onclick="motor_r(-100)">&nbsp;</div>
 -->
<!--         <div id="r100" class="controlpad speed_100" onclick="motor_r(100)"><div class="label">Motor-R: +100%</div></div>
        <div id="r60" class="controlpad speed_60" onclick="motor_r(67)"><div class="label">Motor-R: + 67%</div></div>
        <div id="r30" class="controlpad speed_30" onclick="motor_r(33)"><div class="label">Motor-R: + 33%</div></div>
        <div id="r0" class="controlpad speed_0" onclick="motor_r(0)"><div class="label">Motor-R:   0%</div></div>
        <div id="r-30" class="controlpad speed_30" onclick="motor_r(-33)"><div class="label">Motor-R: - 33%</div></div>
        <div id="r-60" class="controlpad speed_60" onclick="motor_r(-67)"><div class="label">Motor-R: - 67%</div></div>
        <div id="r-100" class="controlpad speed_100" onclick="motor_r(-100)"><div class="label">Motor-R: -100%</div></div>
 -->
       <!--id="rightbar" </div>  -->


    <!--EXTRA </div> -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->
    <script src='static/js/controller_From_RpiRover1_DayDevelops.js'></script>


  </body>
</html>
